.blogText {
  color: #fff;
}

.emailCapture {
  float: right;
  margin-top: 9vw;
}
.form {
  text-align: right;
}
.line{
  border-bottom: 1px solid #eee;
  clear: both;
  width: 55%;
  float: left;
}

/*ARTICLES*/
.featuredArticle {
  margin-top: 5vw;
  position: relative;
  background: url(https://www.mealpro.net/wp-content/uploads/2016/08/GymBackgroundDesk.jpg) left top / cover no-repeat !important;
  height: 32vw;
  width: 50%;
  margin-bottom: 9vw;
}
.featuredArticleText{
  margin-top: 27vw;
}

.sideArticleTop {
  margin-top: 5vw;
  position: relative;
  background: url(https://www.mealpro.net/wp-content/uploads/2016/05/NutritionalAnalysis.png) left top / cover no-repeat !important;
  height: 12vw;
  width: 35%;
  float: right;
}
.sideArticleTopText{
  margin-top: 8vw;
}

.sideArticleBottom {
  margin-top: 5vw;
  position: relative;
  background: url(https://www.mealpro.net/wp-content/uploads/2016/05/BlogPage2.jpg) left top / cover no-repeat !important;
  height: 15vw;
  width: 35%;
  float: right;
}
.sideArticleBottomText{
  margin-top: 10.5vw;
}

.regularArticle {
  margin-top: 9vw;
  position: relative;
  background: url(https://www.mealpro.net/wp-content/uploads/2016/06/LeanProteinDesktop.jpg) left top / cover no-repeat !important;
  height: 20vw;
  width: 35%;
  clear: both;
  margin-bottom: 9vw;
}
.regularArticleTopText{
  margin-top: 17vw;
}


/*POST PADDING*/
.padding{
  margin-top: 10em;
  padding: 40px;
  margin-bottom: 15em;
}
