p, h2, h3, h1 {
  font-weight: 300;
  font-family: 'azo-sans-web', lato, sans-serif;
  margin: 0px;
}
a {
  color: #fff;
}


/*NAVBAR*/
.nav {
  border-bottom: 1px solid #dbdbdb !important;
  height: 75px !important;
}
.navLogo {
  max-height: 35px;
  margin-top: 20px;
}
.menuBar{
  float: right;
  margin-bottom: 0px;
  margin-top: 28px;
}

/*BUTTONS*/
.smallCTA {
  color: #fff !important;
  background-color: #00cbff;
  color: #fff !important;
  padding: 5px;
  width: 68px;
  border-radius: 1px;
}
.textLink {
  color: #435363;
  float: right;
  padding-top: 1.5rem;
  font-size: 1.6rem;
}


/*PAGE DETAILS*/
.width {
  max-width: 1270px !important;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.body {
  padding-left: 35px;
  padding-right: 35px;
}

/*FOOTER*/
.footer {
  height: 250px;
  background-color: #172331;
  clear: both;
  margin-top: 3vw;
}
