<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog Categories</title>
  </head>
  <body>
    <h1>Category Name</h1>
     <ul>
         <#% for(var num=0; num<3; num++); %>
      <!-- <li><a href="<%= Options[3]._id %>"><%=Options[num].category%></a></li> -->
    </ul>
  </body>
</html>
