<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="/style.css" type="text/css">
      <link rel="stylesheet" href="/blog.css" type="text/css">
    <title>Nutrition Blog | MealPro</title>
  </head>
  <body>
    <div class="nav">
      <div class="width">
          <div class="col-xs-6">
            <a href="https://www.mealpro.net"><img class="navLogo" src="https://www.mealpro.net/wp-content/themes/MealPro/imgs/MealPro_log_Black.png" alt="MealPro" title="MealPro"/></a>
          </div>
          <div class="span1 offset5 menuBar">
            <p><span class="smallCTA"><a href="/blog/new">New Post</a></span>
              <span class="smallCTA"><a href="/blog">Blog Home</a></span>
            <span class="smallCTA"> <a href="/categories/new">New Category</a></span></p>
          </div>
     </div>
  </div>
  <div>
        <div class="width body">
          <h2><a class="textLink" href="/categories">View Blog Categories</a></h2>
          <% for (var num = 0; num < allPosts.length; num++) { %>
              <!--Articles-->
                <div class='col-sm-8 col-sm-offset-2 featuredArticle'>
                    <h2 class='blogText featuredArticleText'>
                      <a href="/blog/<%= allPosts[num]._id %>">
                        <span class="postImage" style="background-image: url('<%= allPosts[num].img %>');"> <%= allPosts[num].title%> </span>
                      </a>
                    </h2>
                </div>
              <% } %>

              <!--Lead Capture Form-->
                <!-- <div class='col-sm-4 emailCapture'>-->
                  <!--<form class='form' action="/blog" method="POST">--> <!-- this needs to be connected to our controller -->
                    <!-- <input type="text" name="title" placeholder="email"/><br/> -->
                    <!-- <textarea name="body"></textarea><br/> -->
                    <!-- <input type="submit" value="ok"/> -->
                  <!-- </form> -->
                  <!--<h2><a class="textLink" href="/categories">View Blog Categories</a></h2>-->
               <!-- </div> -->
          </div>
          <!--<main>-->
            <!-- <%=allPosts%> -->
          <!--</main>-->
        <!--previous end of for loop-->
  </div>
  <div class="footer">
  </div>
  </body>
</html>
