<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!--Nav Bar-->
    <div class="nav">
      <div class="width">
          <div class="col-xs-6">
            <a href="https://www.mealpro.net"><img class="navLogo" src="https://www.mealpro.net/wp-content/themes/MealPro/imgs/MealPro_log_Black.png" alt="MealPro" title="MealPro"/></a>
          </div>
          <div class="col-xs-6 menuBar">
              <p>MENU</p>
          </div>
     </div>
     <!--Post-->
     <div>
       <h1>Blog Article</h1>

    </div>
  </body>
</html>
