<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
        <a href="https://www.mealpro.net"><p>MealProLogo</p></a>
    </nav>
    <h1>Blog Article</h1>

  </body>
</html>
